h1{
    color:floralwhite;   
    text-align:center;
    background-color:black;   
    font-size:50px;
    font-weight:bold;
    font-family:"impact"
        
}

h2{
    color:black;
    text-align:center;
    background-color:aquamarine;   
}

h3{
    color:darkturquoise;
    
}

h5{
    color:coral; 
}

ol{background-image: url(../images/mokuhen.jpg)}

table{background-color:coral}

body{
    background-image:url("../images/rh9381-fk.jpg");
    background-attachment:fixed;
    background-position: bottom center;
}
